In [1]:
import requests
import time
from bs4 import BeautifulSoup as BS
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
url = "http://www.myneta.info/LokSabha2019/index.php?action=summary&subAction=candidates_analyzed&sort=candidate#summary"

In [3]:
r = requests.get(url)

In [4]:
CandidateData = BS(r.text, features="html5lib").find_all('table')[1].find_all('tr')

In [5]:
CandidateData = CandidateData[2:]

In [6]:
Candidate = []

In [7]:
for ix in range(len(CandidateData)):
    newCan = CandidateData[ix].find_all('td')
    name = newCan[1].text
    Constituency = newCan[2].text
    Party = newCan[3].text
    Cases = int(newCan[4].text)
    Education = newCan[5].text
    Assets = 0
    Liabilities = 0
    if CandidateData[ix].find_all('td')[6].get_text() != 'Nil':
        Assetes = newCan[6].get_text().split('~')[0].split()[1]
    if CandidateData[ix].find_all('td')[7].get_text() != 'Nil':
        Liabilities = newCan[7].get_text().split('~')[0].split()[1]
    Candidate.append({
        'Name' : name,
        'Constituency' : Constituency,
        'Party' : Party,
        'Cases' : Cases,
        'Education' : Education,
        'Assets' : Assets,
        'Liabilities' : Liabilities
    })

In [8]:
data = pd.DataFrame(Candidate)

In [9]:
data.to_csv('CandidateData.csv')

In [10]:
data.head()

,Assets,Cases,Constituency,Education,Liabilities,Name,Party
0,0,4,RAJKOT,12th Pass,0,Parmar Vijay,BSP
1,0,2,ALAPPUZHA,Graduate Professional,"22,20,700",A M Ariff,CPI(M)
2,0,0,CHITRADURGA,Graduate,0,A Narayanaswamy,BJP
3,0,0,COIMBATORE,5th Pass,0,A Natarajan,IND
4,0,1,KOZHIKODE,12th Pass,"20,79,872",A Pradeep Kumar,CPI(M)